*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header{
    background-color: #f04688;
    text-align: center;
    color: #fff;
}
#header img{
    width: 17vw;
}
#header h1{
    font-size: 36px;
    font-weight:bolder;
    font-family: sans-serif;
    margin-top: 2vw;
}
#header p{
   padding: 2vw ;
   font-size: 15px;
   font-family: 'Lato', sans-serif;
}
#centro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 5vw;
    margin-left: 29%;
    margin-bottom: 2vw;
}
#esquerda{
    margin-top: 2vw;
    float: left;
    margin-right:3vw;
    
}
#direita img{
    width: 20vw;
}
#esquerda input{
    padding: 6px;
    height: 1.5vw;
    border-radius: 4px;
    border: #979797 1px solid;
    margin: 0.25vw;
    width: 100%;
}
#esquerda button{
    background-color: #f2267a;
    color: #fff;
    border-radius: 7px;
    margin-top: 0.25vw;
    border: 0px;
    padding: 12px;
    font-weight: bold;  
}
#baixo{
    background-color: #f04688;
    color: #fff;
    text-align: center;
}
#baixo h1{
    font-size: 32px;
    font-weight:bolder;
    font-family: sans-serif;
    padding: 2vw;
}
#baixo h2{
    font-family: 'Lato', sans-serif ;
    font-size: 18px;
    padding: 1vw;
}
#baixo p{
    font-family: 'Lato', sans-serif ;
    font-size: 15px;
    padding: 0vw 1vw 1vw 1vw;
}
#baixo button{
    background-color: #fff;
    border: 0px;
    color: #f04688;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 1vw;
    margin-bottom: 2vw;
}
#baixo button:hover{
    background-color: #4DEAFF;
    color: #fff;
}
#footer {
    font-family: 'Lato', sans-serif;
    color: #3f3f3f;
    padding: 3vw 0vw 2vw 18vw;
}
#esq{
    float: left;
    
}
#esq p{
    font-size: 12px;
    margin-top: 1vw;
    margin-bottom: 3vw;
}
#dir{
    margin-left: 50%;
}
#dir p{
    font-size: 16px;
    font-weight: bold;
}

